/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Light mode (default) */
body {
  background-color: #f8b9fb;
  color: #590086;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  cursor: default;
  text-align: center;
  padding: 20px 0 20px 0;
  
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.container {
  width: 90%;
  max-width: 450px;
}

.profile-pic {
  width: 98%;
  /*! height: 120px; */
  border-radius: 14%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid black;
}

.name {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
  /*! text-shadow: -3px -1px 6px #b1f775; */
}

.description {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #043E3A;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.link-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #06b7ff;
  color: #1C0330;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
}

.link-button:hover {
  background-color: #d7eaff;
  transform: scale(1.05);
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: #402C9F;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.icon-button {
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
  background: none;
  color: #4935A9;
}

.icon-button i {
  font-size: 24px;
}

.icon-button:hover {
  transform: scale(1.1);
  color: #503e3e;
}

.icon-button:active {
  transform: scale(0.95);
}

.link-button-text {
  font-size: 14px;
  color: #6F6373;
}

.copyright {
  margin-top: 15px;
  font-size: 12px;
  color: 00A59A;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #022b73;
    color: #06B7FF;
  }

  a {
    color: white;
  }

  .profile-pic {
    border-color: white;
  }
  
  .name {
    /*! text-shadow: -3px -1px 14px #a264df; */
  }

  .description {
    color: #7B94ED;
  }

  .link-button {
    background-color: #f266bb;
    color: #173105;
  }

  .link-button:hover {
    color: #173105;
  }

  .icon-button {
    color: white;
  }

  .footer {
    color: #c0c59a;
  }

  .link-button-text {
    color: #8b949e;
  }
  
  .copyright {
  color: 00A59A;
  }
}
